{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
<head>
	<meta charset="UTF-8">
	<title>{% block title %} Princeton Social Innovation {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'psibackend/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'psibackend/Font-Awesome-master/css/font-awesome.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'psibackend/Font-Awesome-master/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,700" >
	<link rel="stylesheet" type="text/css" href="{% static 'psibackend/css/flexslider/flexslider.css' %}">
	<link rel="shortcut icon" href="{% static 'psibackend/css/images/favicon.ico' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'psibackend/css/images/favicon.ico' %}" type="image/x-icon">
</head>
{% endblock head %}

{% block content %}
<div id="about-top" class="jumbotron">
	<div class="overlay">
		<div class="container">
			<div class="row header-info">
				<div class="col-md-8">
					<div class="panel">
						<div id="core-info">
							<!-- Fix bug: when you make the screen vertically short, vision overflows -->
							<div id="vision">
								<h2>Vision</h2>
								<p>We believe in the power of sustainable social impact. We see a world in which the pursuit of socially responsible careers is the norm.</p>
							</div>
							<div id="mission">
								<h2>Mission</h2>
								<p>We educate students on viable methods of creating social value by hosting events that spark campus-wide discussions on social innovation and impact.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="core-values" class="background-white">
	<div class="container">
		<h1 class="subtitle">CORE VALUES</h1>
		<hr style="width:85%; border-color:#6C7A89; opacity: .6; margin-top: 10px; margin-botton: 10px;">
		<div class="row"> 
			<div class="col-md-4">
				<div class="box">
					<img src="{% static 'psibackend/css/images/cloud1.png' %}">
					<div class="core-value-text">
						<h4><br>INSPIRE<br></h4>
						<p>Host events for students that expand their knowledge on ways to integrate social impact into their lives.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="box">
					<img src="{% static 'psibackend/css/images/net2_01.png' %}">
					<div class="core-value-text">
						<h4><br>CONNECT<br></h4>
						<p>Serve as a nexus for students to form relationships with individuals and groups that provide them with opportunities that create social impact.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="box">
					<img src="{% static 'psibackend/css/images/create_01.png' %}">
					<div class="core-value-text">
						<h4><br>EMPOWER<br></h4>
						<p>Encourage students to transform the knowledge and networks we provide into tangible impact.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
{% block script %}
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="{% static 'psibackend/js/smoothscroll.js' %}"></script>
{% endblock script %}
