<html>
{% block head %}
{% endblock head %}

<body lang="en">

<div id="page-wrapper">
	{% block nav %}
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">
				</a>
			</div>
			<div class="collapse navbar-collapse">
				<div class="menu-main-menu-container">
					<ul class="nav navbar-nav navbar-right">
						<li class="nav-item"><a href="/about">About</a></li>
						<li class="nav-item"><a href="/news">News</a></li>
						<li class="nav-item"><a href="/events">Events</a></li>
						<li class="nav-item"><a href="/internships">Internships</a></li>
						<li class="nav-item"><a href="/contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	{% endblock nav %}

	{% block content %}
	{% endblock content %}
</div>
	{% block contact %}
	<div class="background-blue">
		<div class="container contact">
			<p><i>Contact Us</i></p>
			<div class="contact-icons">
				<a href=""><span class="fa fa-envelope-square"></span></a>
				<a href=""><span class="fa fa-facebook-square"></span></a>
				<a href=""><span class="fa fa-twitter-square"></span></a>
			</div>
			<hr style="width:50%; border-color:#6C7A89; opacity: .6; margin-top: 10px; margin-bottom: 10px">
			<div class="footer">
				<p><i>Princeton University</i></p><br>
				<p><i>Princeton Social Innovation</i><p>
			</div> 
		</div>
	</div>
	{% endblock contact %}

	{% block script %}
  <script src="//use.typekit.net/fnx6wms.js"></script>
  <script>try{Typekit.load();}catch(e){}</script> 	
  {% endblock script %}

</body>
</html>