{% extends "base.html" %}

{% load staticfiles %}
{% load assign %}

{% block head %}
<head>
	<meta charset="UTF-8">
	<title> {% block title %} Princeton Social Innovation {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'psibackend/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'psibackend/Font-Awesome-master/css/font-awesome.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'psibackend/Font-Awesome-master/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,700" >
	<link rel="stylesheet" type="text/css" href="{% static 'psibackend/css/flexslider/flexslider.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'psibackend/css/bootstrap-modal-carousel.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'psibackend/css/mobile.css' %}">
	<link rel="shortcut icon" href="{% static 'psibackend/css/images/favicon.ico' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'psibackend/css/images/favicon.ico' %}" type="image/x-icon">
</head>
{% endblock head %}
{% block content %} 
<div id="events-top" class="jumbotron">
	<div class="overlay">
		<div class="container">
			<div class="events-header">
				<h2>“If money could have <span style="color:#FF8F00">changed the world</span>, money would have changed the world.”</h2><br>
				<p><i>-Sharad Vivek Sagar</i></p>
			</div>
		</div>
		<div class="sub-header">
			<h3 class="move" data-0="opacity: 1;" data-400="opacity:0;">See how we <span style="color:#FF8F00">make change</span></h3>
		</div>
	</div>
</div>
<div class="events background-white">
	<div class="container">
		<h1>PROGRAMS</h1>
		<hr style="width:90%; border-color:#6C7A89; opacity: .6; margin-top: 2%; margin-bottom: 2%;">
		<div class="events-wrapper">
			<ul class="photo-grid">
				{% for event in all_events %}
				<div class="events-col col-md-4">
					<li>
						<a href="#{{event.title }}">
							<div class="mini-block">
								<figure>
									<img class="event-button" src="{{event.picture.url}}">
									<figcaption>
										<p><i>{{ event.title }}</i><br />{{ event.description|truncatechars:100 }}</p>
									</figcaption>
								</figure>
								<div class="event-header">
									<h3>{{ event.title }}</h3>
								</div>
							</div>
						</a>
					</li>
				</div>
				<div id="{{ event.title }}" class="event-item modalDialog">
					<div>
						<a href="#close" title="Close" class="close">X</a>
						<div class="panel">
							<h1>{{ event.title }}</h1>
						</div>
						{% if event.date %}
						<div class="panel">
							<div class="meta-info">
								<p class="date"><b>Date</b>: {{ event.date.date }}</p>
								<p class="time"><b>Time</b>: {{ event.date.time }}</p>
							</div>
						</div>
						{% endif %}
						<p>{{ event.description }}</p>
					</div>
				</div>
				{% endfor %}
			</ul>
			</div>
		</div>
	</div>
</div>
{% endblock content%}

{% block script %}
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="{% static 'psibackend/js/smoothscroll.js' %}"></script>
<script src="{% static 'psibackend/js/bootstrap.min.js' %}"></script>
<script src="{% static 'psibackend/js/demo.min.js' %}"></script>
<script>
	function overlay() {
		if ($(".modal-overlay").css("visibility") == "hidden") 
		{
			$(".modal-overlay").css("visibility", "visible");
		}
		else
		{
			$(".modal-overlay").css("visibility", "hidden");
		}
	}
	$(document).ready(function() {
		$('.nav-event').hover(
			function(){
   		 		$(".sub-item").slideDown(200);
   		 		$(".move").fadeTo( "fast", 0);
   		 	},
			function(){
				$(".sub-item").slideUp(200);
   		 		$(".move").fadeTo( "slow", 1);
		});
		$('.nav-event').hover(
			function(){
				$(".panel.item").css("background-color", "#6C7A89");
			},
			function(){
				$(".panel.item").css("background-color", "rgba(34, 49, 63, 0.7)");
		});
	});
</script>

{% endblock script %}


