{% extends "base.html" %}

{% load staticfiles %}
{% load assign %}

{% block head %}
<head>
	<meta charset="UTF-8">
	<title> {% block title %} Princeton Social Innovation {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'psibackend/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'psibackend/Font-Awesome-master/css/font-awesome.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'psibackend/Font-Awesome-master/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,700" >
	<link rel="stylesheet" type="text/css" href="{% static 'psibackend/css/flexslider/flexslider.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'psibackend/css/mobile.css' %}">
	<link rel="shortcut icon" href="{% static 'psibackend/css/images/favicon.ico' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'psibackend/css/images/favicon.ico' %}" type="image/x-icon">
</head>
{% endblock head %}
{% block content %} 
<div id="events-top" class="jumbotron">
	<div class="overlay">
		<div class="container">
			<div class="events-header">
				<h2>“If money could have <span style="color:#FF8F00">changed the world</span>, money would have changed the world.”</h2><br>
				<p><i>-Sharad Vivek Sagar</i></p>
			</div>
		</div>
		<div class="sub-header">
			<h3 class="move" data-0="opacity: 1;" data-400="opacity:0;">See how we <span style="color:#FF8F00">make change</span></h3>
		</div>
		{% block events-nav %}
		<div class="nav-event stick">
			{% for event in all_events %}
				<a class="smoothScroll" href="#{{ event.identifier }}">
					<div class="panel sub-item">
						<p>{{ event.title }}</p>
					</div>
				</a>
			{% endfor %}
			<a class="smoothScroll" href="">
				<div class="panel item">
					<p class="">Events</p>
				</div>
			</a>
		</div>
		{% endblock %}
	</div>
</div>
{% for event in all_events %}
	{% if event.white %}
	<div id="{{ event.identifier }}" class="event background-white">
		<div class="container event-item">
			<div class="col-md-12 event-info">
				<div class="panel">
					<h1>{{ event.title }}</h1>
				</div>
				<div class="panel">
					<div class="meta-info">
						<p class="date">{{ event.date.date }}</p>
						<p class="time">{{ event.date.time }}</p>
					</div>
				</div>
				<h1 class="location">{{ event.location }}</h1>
				<p>{{ event.description }}</p>
			</div>
		</div>	
	</div>
	{% else %}
	<div id="{{ event.identifier }}" class="event background-gray">
		<div class="container event-item">
			<div class="col-md-12 event-info">
				<div class="panel">
					<h1>{{ event.title }}</h1>
				</div>
				<div class="panel">
					<div class="meta-info">
						<p class="date">{{ event.date.date }}</p>
						<p class="time">{{ event.date.time }}</p>
					</div>
				</div>
				<h1 class="location">{{ event.location }}</h1>
				<p>{{ event.description }}</p>
			</div>
		</div>
	</div>
	{% endif %}
{% endfor %}
{% endblock content%}

{% block script %}
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="{% static 'psibackend/js/smoothscroll.js' %}"></script>
<script>
	$(document).ready(function() {
		$('.nav-event').hover(
			function(){
   		 		$(".sub-item").slideDown(200);
   		 		$(".move").fadeTo( "fast", 0);
   		 	},
			function(){
				$(".sub-item").slideUp(200);
   		 		$(".move").fadeTo( "slow", 1);
		});
		$('.nav-event').hover(
			function(){
				$(".panel.item").css("background-color", "#6C7A89");
			},
			function(){
				$(".panel.item").css("background-color", "rgba(34, 49, 63, 0.7)");
		});
	});
</script>
{% endblock script %}


