{% extends "base.html" %}

{% load staticfiles %}
{% load bootstrap %}

{% block head %}
	{% block title %}<title>Princeton Social Innovation | Find Interns</title>{% endblock %}
{% endblock head %}
{% block content %}
<div id="find-interns" class="overlay">
</div>
<div class="background-white">
	<div class="container info-block">
		<h1>RECRUIT INTERNS</h1>
		<hr style="width:100%; border-color:#6C7A89; opacity: .6; margin-top: 20px; margin-bottom: 20px">
		<form class="form-horizontal" role="form" method="POST">
			{% csrf_token %}
			<div class="form-group">
				{{ form|bootstrap }}
			</div>
			<div class="form-group">
				<div class="col-sm-offset-1 col-sm-10">
					<button type="submit" class="btn btn-default">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock content %}

{% block script %}
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="{% static 'psibackend/js/bootstrap.min.js' %}"></script>
{% endblock %}


