{% extends "base.html" %}

{% load staticfiles %}

{% block head %}
<head>
	<meta charset="UTF-8">
	<title> {% block title %} Princeton Social Innovation {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'psibackend/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'psibackend/Font-Awesome-master/css/font-awesome.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'psibackend/Font-Awesome-master/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,700" >
	<link rel="stylesheet" type="text/css" href="{% static 'psibackend/css/flexslider/flexslider.css' %}">
	<link rel="shortcut icon" href="{% static 'psibackend/css/images/favicon.ico' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'psibackend/css/images/favicon.ico' %}" type="image/x-icon">
</head>
{% endblock head %}
{% block content %} 
<div id="index-top" class="jumbotron">
	<div class="overlay">
		<div class="container">
			<div class="header-text" data-0="opacity: 1;" data-400="opacity:0; ">
				<h1 class="homepage-title">Empowering students to create <span style="color:#FF8F00;">Social Value</span></h1>
				<h2>Princeton Social Innovation brings <!-- improve wording -->events and innovators to <b>Princeton University</b> to educate and prepare students for <b>social impact careers</b>.</h2>
			</div>
		</div>
	</div>
</div>
<div class="background-white">
	<div class="container info-block">
		<h1>MOST RECENT</h1>
		<hr style="width:85%; border-color:#6C7A89; opacity: .6; margin-top: 2%; margin-bottom: 2%;">
		{% if all_posts %}
			{% for post in all_posts %}
			<div class="container news-item">
				<a href="{% url 'newsdetail' post.id%}"><figure class="featured-image" style="background:url({{ post.picture.url }});" ></figure></a>
				<div class="entry-header">
					<h2 class="entry-title"><a href="{% url 'newsdetail' post.id%}" title="{{ post.title }}" class="glow-orange">{{ post.title }}</a></h2>
				</div>
				<a href="{% url 'newsdetail' post.id%}">
					<div class="entry-content">
						<p>{{ post.body|truncatechars:300 }}</p>
					</div>
				</a>
				<div class="entry-meta">
					<div class="date">
						<a href="{% url 'newsdetail' post.id%}" class="glow-orange">{{ post.date }}</a>
					</div>
					<div class="readmore-button">
						<a href="{% url 'newsdetail' post.id%}" class="glow-orange">Read More</a>
					</div>
				</div>
			</div>
			{% endfor %}
		{% endif %}
	</div>
</div>
{% endblock content %}
{% block script %}
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="{% static 'psibackend/js/smoothscroll.js' %}"></script>
<script type="text/javascript" src="{% static 'psibackend/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'psibackend/js/skrollr.js' %}"></script>
<script type="text/javascript">
	var s = skrollr.init({forceHeight: false});
</script>
{% endblock script %}
