{% extends "base.html" %}

{% load staticfiles %}
{% load assign %} 

{% block head %}
	{% block title %}<title>Princeton Social Innovation | Internships</title>{% endblock %}
{% endblock head %}
{% block content %}
<div id="internships-top" class="jumbotron">
	<div class="overlay">
		<div class="container">
			<div class="internships-header">
				<h2>“You don’t learn to walk by following rules. You <span style="color:#FF8F00">learn by doing</span> and falling over.”</h2><br>
				<p><i>-Richard Branson</i></p>
			</div>
		</div>
		<div class="container student-button">
			<h2>Find Internships Here</h2>
		</div>
		<a href="#first-internship" class="scroll_down smoothScroll">
			<span class="glyphicon glyphicon-hand-down navglyphicon"></span>
		</a>
	</div>
</div>
<div class="background-white">
	{% assign name="first" %}1{% endassign %}
	{% for internship in all_internships %}
		{% if internship.approved %}
		{% if first %}
		<div id="first-internship" class="container internship-item">
			<a href="{% url 'internshipsdetail' internship.id%}"><h1>{{ internship.intern_role }}</h1>
			<h3>{{ internship.employer }}</h3>
			<p>{{ internship.description|truncatechars:300 }}</p></a>
			<hr style="width:100%; border-color:#6C7A89; opacity: .6; margin-top: 2%; margin-bottom: 2%;">
			{% assign name="first" %}0{% endassign %}
		</div>
		{% else %}
		<div class="container internship-item">
			<a href="{% url 'internshipsdetail' internship.id%}"><h1>{{ internship.intern_role }}</h1>
			<h3>{{ internship.employer }}</h3>
			<p>{{ internship.description|truncatechars:300 }}</p></a>
			<hr style="width:100%; border-color:#6C7A89; opacity: .6; margin-top: 2%; margin-bottom: 2%;">
		</div>
		{% endif %}
		{% endif %}
	{% endfor %}
</div>
<div class="background-gray">
	<div class="container buttons">
		<h2>Employer?</h2>
		<a href="/findinterns">
			<button type="button" class="btn btn-custom">Add Internships Here</button>
		</a>
	</div>
</div> 
{% endblock content %}
	

{% block script %}
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="{% static 'psibackend/js/smoothscroll.js' %}"></script>
<script type="text/javascript" src="{% static 'psibackend/js/bootstrap.min.js' %}"></script>
{% endblock script %}
