{% extends "base.html" %}

{% load staticfiles %}

{% block head %}
<head>
	<meta charset="UTF-8">
	<title> {% block title %} Princeton Social Innovation {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'psibackend/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'psibackend/Font-Awesome-master/css/font-awesome.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'psibackend/Font-Awesome-master/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,700" >
	<link rel="stylesheet" type="text/css" href="{% static 'psibackend/css/flexslider/flexslider.css' %}">
	<link rel="shortcut icon" href="{% static 'psibackend/css/images/favicon.ico' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'psibackend/css/images/favicon.ico' %}" type="image/x-icon">
</head>
{% endblock head %}
{% block content %}
	<div class="fullscreen" class="background-white">
		<div class="overlay">
			<div class="container">
				<div class="memberdetail row">
					<div class="col-md-4">
						<div class="member-img">
							<center>
								<img src="{{ member.picture.url }}">
							</center>
						</div>
					</div>
					<div class="col-md-8">
						<div class="member-head">
							<h1>{{ member.name }}</h1>
							<h2>{{ member.position }}</h2>
						</div>
						<div class="member-body">
							<h2>Class of {{ member.year }}</h2>
							<p>{{ member.bio }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
{% block script %}
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="{% static 'psibackend/js/smoothscroll.js' %}"></script>
<script type="text/javascript" src="{% static 'psibackend/js/bootstrap.min.js' %}"></script>
{% endblock script %}
