{% extends "base.html" %}

{% load staticfiles %}
{% load assign %}

{% block head %}
<head>
	<meta charset="UTF-8">
	<title> {% block title %} Princeton Social Innovation {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'psibackend/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'psibackend/Font-Awesome-master/css/font-awesome.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'psibackend/Font-Awesome-master/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,700" >
<!-- 	<link rel="stylesheet" type="text/css" href="{% static 'psibackend/css/flexslider/flexslider.css' %}"> -->
	<link rel="shortcut icon" href="{% static 'psibackend/css/images/favicon.ico' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'psibackend/css/images/favicon.ico' %}" type="image/x-icon">
</head>
{% endblock head %}

{% block content %}
<div class="overlay newsoverlay">
</div>
<div id="news-top" class="container">
	<div id="this-carousel-id" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
		{% for post in first_news_post %}
		<div class="item active">
				<a href="{% url 'newsdetail' post.id%}">
					<div class="item-picture" style="background:url({{post.picture.url}}); background-size:cover;" alt="{{post.title}}"></div>
					<div class="carousel-caption panel">
						<p>{{ post.title }}</p>
					</div>
				</a>
			</div>
		{% endfor %}
		{% for post in latest_news_post %}
			<div class="item">
				<a href="{% url 'newsdetail' post.id%}">
					<div class="item-picture" style="background:url({{post.picture.url}}); background-size:cover;" alt="{{post.title}}"></div>
					<div class="carousel-caption panel">
						<p>{{ post.title }}</p>
					</div>
				</a>
			</div>
		{% endfor %}
		</div>
		<a class="carousel-control left" href="#this-carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
		<a class="carousel-control right" href="#this-carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></a>
	</div>
</div>
<div class="background-white">
	<div class="container info-block">
		<h1>NEWS</h1>
		<hr style="width:85%; border-color:#6C7A89; opacity: .6; margin-top: 2%; margin-bottom: 2%;">		
		{% for post in all_posts %}
			<div class="container news-item">
					<a href="{% url 'newsdetail' post.id%}">
						<center> <img src="{{post.croppedPicture.url}}" class="featured-image" width="800"> </center>
					</a>
				<div class="entry-header">
					<h2 class="glow-orange entry-title"><a href="{% url 'newsdetail' post.id%}">{{post.title}}</a></h2>
				</div>
        <a href="{% url 'newsdetail' post.id%}">
          <div class="entry-content">
            <p>{{post.body|truncatechars:300}}</p>
          </div>
        </a>
				<div class="entry-meta">
					<div class="date glow-orange">
						<a href="{% url 'newsdetail' post.id%}" class="glow-orange">{{post.date}}</a>
					</div>
					<div class="readmore-button glow-orange">
						<a href="{% url 'newsdetail' post.id%}" class="glow-orange">Read More</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock content %}
	
{% block script %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'psibackend/js/bootstrap.min.js' %}"></script>
<!-- 
<script type="text/javascript" src="{% static 'psibackend/js/smoothscroll.js' %}"></script>
<script type="text/javascript" src="{% static 'psibackend/css/flexslider/jquery.flexslider-min.js' %}"></script> -->
<script>

    $('.carousel').carousel('slide', {
		interval: 5000
	});
	

</script>
{% endblock script %}

