{% extends "base.html" %}

{% load staticfiles %}

{% block head %}
<head>
	<meta charset="UTF-8">
	<title> {% block title %} Princeton Social Innovation {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'psibackend/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'psibackend/Font-Awesome-master/css/font-awesome.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'psibackend/Font-Awesome-master/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,700" >
	<link rel="stylesheet" type="text/css" href="{% static 'psibackend/css/flexslider/flexslider.css' %}">
	<link rel="shortcut icon" href="{% static 'psibackend/css/images/favicon.ico' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'psibackend/css/images/favicon.ico' %}" type="image/x-icon">
</head>
{% endblock head %}

{% block content %}
<div id="find-interns" class="overlay">
</div>
<div id="thankyou-interns" class="background-white">
	<div class="container info-block">
		<h1>{{ post.title }}</h1>
		<hr style="width:85%; border-color:#6C7A89; opacity: .6; margin-top: 2%; margin-bottom: 2%;">
		<div class="container news-item">
			<center>
				<img class="featured-image-detail" src="{{ post.picture.url }}" width="800">
			</center>
			<div class="entry-content-detail detail-post-info">
				<span style="white-space:pre-wrap;"><p>{{ post.body }}</p></span>
			</div>
			<div class="entry-meta">
				<div class="date">
					{{ post.date }}
				</div>
				<a href="/news"><div class="readmore-button glow-orange">
					Back
				</div></a>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block script %}
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="{% static 'psibackend/js/smoothscroll.js' %}"></script>
<script type="text/javascript" src="{% static 'psibackend/js/bootstrap.min.js' %}"></script>
{% endblock script %}
