{% extends "base.html" %}

{% load staticfiles %}

{% block head %}
	{% block title %}<title>Princeton Social Innovation | News</title>{% endblock title %}
{% endblock head %}

{% block content %}
<div id="find-interns" class="overlay">
</div>
<div id="thankyou-interns" class="background-white">
	<div class="container info-block">
		<h1>{{ post.title }}</h1>
		<hr style="width:85%; border-color:#6C7A89; opacity: .6; margin-top: 2%; margin-bottom: 2%;">
		<div class="container news-item">
			<figure class="featured-image-detail" style="background:url({{ post.picture.url }});"></figure>
			<div class="entry-content-detail detail-post-info">
				<span style="white-space:pre-wrap;"><p>{{ post.body }}</p></span>
			</div>
			<div class="entry-meta">
				<div class="date">
					{{ post.date }}
				</div>
				<a href="/news"><div class="readmore-button glow-orange">
					Back
				</div></a>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block script %}
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="{% static 'psibackend/js/smoothscroll.js' %}"></script>
<script type="text/javascript" src="{% static 'psibackend/js/bootstrap.min.js' %}"></script>
{% endblock script %}
