{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
<head>
	<meta charset="UTF-8">
	<title>{% block title %} Princeton Social Innovation {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'psibackend/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'psibackend/Font-Awesome-master/css/font-awesome.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'psibackend/Font-Awesome-master/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,700" >
	<link rel="stylesheet" type="text/css" href="{% static 'psibackend/css/flexslider/flexslider.css' %}">
	<link rel="shortcut icon" href="{% static 'psibackend/css/images/favicon.ico' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'psibackend/css/images/favicon.ico' %}" type="image/x-icon">
</head>
{% endblock head %}

{% block content %}
<div id="about-top" class="jumbotron">
	<div class="overlay">
    <div class="container">
<!-- Make it so that when you hover over the image, it changes to the
     member doing something new/fun -->
  <div id="members" class="background-gray">
    <div class="container">
      <h1 class="subtitle">MEET THE MEMBERS</h1>
      <hr style="width:100%; border-color:#6C7A89; opacity: .6; margin-top: 10px; margin-botton: 10px;">
    </div>
    <div class="container">
      <div class="row">
        {% for member in presidents %}
        {% if member.current %}
        <div class="col-md-4">
          <a href="{% url 'membersdetail' member.id %}">
          <div class="member box">
            <div class="member img">
              <img class="visibleboring" src="{{ member.picture.url }}">
              <img class="invisiblefunny" src="{{ member.funnypicture.url }}">
            </div>
            <div class="panel">
              <p>{{ member.name }}</p>
              <p>{{ member.position }}</p>
              <p>Class of {{ member.year }}</p>
            </div>
          </div>
          </a>
        </div>
        {% endif %}
        {% endfor %}
        {% for member in secretary %}
        {% if member.current %}
        <div class="col-md-4">
          <a href="{% url 'membersdetail' member.id %}">
          <div class="member box">
            <div class="member img">
              <img class="visibleboring" src="{{ member.picture.url }}">
              <img class="invisiblefunny" src="{{ member.funnypicture.url }}">
            </div>
            <div class="panel">
              <p>{{ member.name }}</p>
              <p>{{ member.position }}</p>
              <p>Class of {{ member.year }}</p>
            </div>
          </div>
          </a>
        </div>
        {% endif %}
        {% endfor %}
        {% for member in marketing %}
        {% if member.current %}
        <div class="col-md-4">
          <a href="{% url 'membersdetail' member.id %}">
          <div class="member box">
            <div class="member img">
              <img class="visibleboring" src="{{ member.picture.url }}">
              <img class="invisiblefunny" src="{{ member.funnypicture.url }}">
            </div>
            <div class="panel">
              <p>{{ member.name }}</p>
              <p>{{ member.position }}</p>
              <p>Class of {{ member.year }}</p>
            </div>
          </div>
          </a>
        </div>
        {% endif %}
        {% endfor %}
        {% for member in speakers %}
        {% if member.current %}
        <div class="col-md-4">
          <a href="{% url 'membersdetail' member.id %}">
          <div class="member box">
            <div class="member img">
              <img class="visibleboring" src="{{ member.picture.url }}">
              <img class="invisiblefunny" src="{{ member.funnypicture.url }}">
            </div>
            <div class="panel">
              <p>{{ member.name }}</p>
              <p>{{ member.position }}</p>
              <p>Class of {{ member.year }}</p>
            </div>
          </div>
          </a>
        </div>
        {% endif %}
        {% endfor %}
        {% for member in conference %}
        {% if member.current %}
        <div class="col-md-4">
          <a href="{% url 'membersdetail' member.id %}">
          <div class="member box">
            <div class="member img">
              <img class="visibleboring" src="{{ member.picture.url }}">
              <img class="invisiblefunny" src="{{ member.funnypicture.url }}">
            </div>
            <div class="panel">
              <p>{{ member.name }}</p>
              <p>{{ member.position }}</p>
              <p>Class of {{ member.year }}</p>
            </div>
          </div>
          </a>
        </div>
        {% endif %}
        {% endfor %}
        {% for member in worldofe %}
        {% if member.current %}
        <div class="col-md-4">
          <a href="{% url 'membersdetail' member.id %}">
          <div class="member box">
            <div class="member img">
              <img class="visibleboring" src="{{ member.picture.url }}">
              <img class="invisiblefunny" src="{{ member.funnypicture.url }}">
            </div>
            <div class="panel">
              <p>{{ member.name }}</p>
              <p>{{ member.position }}</p>
              <p>Class of {{ member.year }}</p>
            </div>
          </div>
          </a>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>	
  </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block script %}
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="{% static 'psibackend/js/smoothscroll.js' %}"></script>
<script type="text/javascript" src="{% static 'psibackend/js/skrollr.js' %}"></script>
<script type="text/javascript">
	var s = skrollr.init({forceHeight: false});
</script>
{% endblock script %}