@CHARSET "UTF-8";

#idNavigation {
	/* for div containing navigation */
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	/* Internet Explorer 10 */
	display: -ms-flexbox;
	/* Safari, Opera, and Chrome */
	display: -webkit-box;
	/* W3C */
	display: flex;
	-ms-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
	-webkit-transform: translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px);
	-webkit-animation: pullDown 0.5s ease-out;
	animation: pullDown 0.5s ease-out;
	/* transform: translateY(0px);
    -webkit-transform: translateY(0px); */
	height: 50px;
	border-style: none;
	/*  background-color: rgba(255, 255, 255, 0.9882); */
	overflow: hidden;
	background: transparent url('/images/navBG.png') no-repeat;
	background-size: 100% 110%;
	background-position: center bottom;
	z-index: 999;
	-webkit-transform-style: preserve-3d;
}

@
-webkit-keyframes pullDown { 0% {
	-webkit-transform: translateY(-200%);
}

30%
{
-webkit-transform








:




 




translateY








(-200%);
}
}
@
keyframes pullDown { 0% {
	-ms-transform: translateY(-200%);
	-moz-transform: translateY(-200%);
	transform: translateY(-200%);
}

30%
{
-ms-transform








:




 




translateY








(-200%);
-moz-transform








:




 




translateY








(-200%);
transform








:




 




translateY








(-200%);
}
}
#idNavBG {
	/* position:absolute;
    width: 150%;
    height: 150%;
    top: -25%;
    left: -25%;
    background-color: white;
    z-index: -1;
    -webkit-filter: blur(23px); */
	
}

nav {
	/* Make navigation fill the parent div */
	-webkit-box-flex: 0.0; /* Safari and Chrome */
	-ms-flex: 1.0; /* Internet Explorer 10 */
	box-flex: 1.0;
	width: 100%;
	display: block;
}

#idUpperNav {
	height: 35px;
	/* Internet Explorer 10 */
	display: -ms-flexbox;
	-ms-flex-direction: row;
	/* Internet Explorer 11 */
	flex-direction: row;
	/* Safari, Opera, and Chrome */
	display: -webkit-box;
	-webkit-box-direction: normal;
	-webkit-box-orient: horizontal;
	/* W3C */
	display: flex;
	flex-direction: row;

	/* 
box-direction:normal;
    box-orient:horizontal;
 */
}

.upperNavText {
	/* nav text */
	line-height: 35px !important;
	font-size: 11px !important;
	letter-spacing: -1px !important;
	font-family: MuseoSlab-500 !important;
	text-transform: uppercase !important;
	font-weight: normal !important;
	font-stretch: normal !important;
	display: inline !important;
}

.upperNavItemLeft,.upperNavItem,.upperNavItemRight {
	flex-grow: 1;
	-webkit-box-flex: 1.0; /* Safari and Chrome */
	-ms-flex: 1.0; /* Internet Explorer 10 */
	box-flex: 1.0;
	/* width: 0; */
	text-align: center;
}

.upperNavItem,.upperNavItemLeft {
	border-style: none none none none;
	border-color: #CCCCCC;
	border-width: 1px;
}

a.fill-div {
	display: block;
	height: 100%;
	width: 100%;
}

a.fill-div:LINK {
	color: #000000;
	text-decoration: none;
}

a.fill-div:VISITED {
	color: #000000;
	text-decoration: none;
}

a.fill-div:HOVER {
	background-color: #e7e7e7;
}

a.fill-div:ACTIVE {
	background-color: #d5d4d6;
}

.selected {
	background-color: #f5f5f5;
}

#idLowerNav {
	height: 15px;
	text-align: center;
}

#idLowerNav>h4 {
	line-height: 1;
	font-family: MuseoSlab-500 !important;
	font-size: 12px !important;
	font-weight: normal !important;
	font-stretch: normal !important;
	color: rgb(0.4, 0.4, 0.4) !important;
}

@media all and (min-width: 700px) {
	/* for ipad */
	#idNavigation {
		height: 80px;
	}
	#idUpperNav {
		height: 60px;
	}
	.upperNavText {
		line-height: 60px !important;
		font-size: 20px !important;
	}
	#idLowerNav {
		height: 20px;
	}
	#idLowerNav>h4 {
		font-size: 18px !important;
	}
}